{%extends 'fitheart/base.html' %}
{% load  staticfiles %}

 {% block body_content %}

     <div id="container">
         <!--fv_dcrm_product_notices-->
        <div id="content" role="main">
         {% block jump %}
         {% endblock %}


        {%  block title %}
                    <div id="post-68215" class="post-68215 post type-post status-publish format-standard has-post-thumbnail
				 category-action-cams category-drones tag-dji tag-dji-mavic tag-dji-phantom-4 tag-drones">
					<h1 class="entry-title padding10">
                        {{ article.title }}
                    </h1>
                    </div><!-- .post-68215 -->
        {% endblock %}

                     {% block extra_info %}
					<div class="entry-meta">
						<a href="https://www.dcrainmaker.com/2016/12/dji-mavic-pro-in-depth-review.html" title="6:01 am" rel="bookmark">
                            <span class="entry-date">{{article.date_created}}</span></a><!--<span>|</span>--> by
                        <a href="{%  url 'index' %}" title="Posts by FitHeart" rel="author">
                        FitHeart</a><span>|</span><a href="{% url 'product-review-detail'  group_id %}">{{group_name}}s</a> »
                        <a href="http://127.0.0.1:8000/article/{{ article.id }}">{{article.title}}</a><span>|</span>
                        <a href="https://www.dcrainmaker.com/2016/12/dji-mavic-pro-in-depth-review.html#comments" class="last">Comments (70)</a>					</div><!-- .entry-meta -->
                    {% endblock %}
					<div class="entry-content">
						<p>
                            <a class="colorbox fv_player_pro_boxElement"
                               href="http://127.0.0.1:8000/media/{{ article.img }}">
                                <img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline;
                                padding-right: 0px; border: 0px;" title="DJI-Mavc-Pro-Detailed-Review"
                                     src="http://127.0.0.1:8000/media/{{ article.img }}"
                                     alt="DJI-Mavc-Pro-Detailed-Review" width="720" height="480" border="0">
                        </a>
                        </p>


                        {% block content %}
                            <div id="article_content">
                               {% autoescape off %}{{ article.content_editor }}{% endautoescape %}
                            </div>
                         {% endblock %}<!-- ENDBLOCK content-->

                      </div><!--entry-content-->

        </div><!-- #content -->
     </div> <!--container-->
     {% block comment %}
     {% endblock %}
  {% endblock %}
