{%extends 'fitheart/base.html' %}
{% load  staticfiles %}

 {% block body_content %}
     <div id="container">
         <!--fv_dcrm_product_notices-->
        <div id="content" role="main">
         {% block jump %}
         {% endblock %}


        {%  block title %}
                    <div id="post-68215" class="post-68215 post type-post status-publish format-standard has-post-thumbnail
				 category-action-cams category-drones tag-dji tag-dji-mavic tag-dji-phantom-4 tag-drones">
					<h1 class="entry-title padding10">
                        {{ article.title }}
                    </h1>
                    </div><!-- .post-68215 -->
        {% endblock %}

                     {% block extra_info %}
					<div class="entry-meta">
						<a href="https://www.dcrainmaker.com/2016/12/dji-mavic-pro-in-depth-review.html" title="6:01 am" rel="bookmark">
                            <span class="entry-date">{{article.date_created}}</span></a><!--<span>|</span>--> by
                        <a href="https://www.dcrainmaker.com/author/rainmaker" title="Posts by FitHeart" rel="author">
                        FitHeart</a><span>|</span><a href="https://www.dcrainmaker.com/product-reviews/action-cams">{{group_name}}s</a> »
                        <a href="https://www.dcrainmaker.com/product-reviews/drones">{{article.title}}</a><span>|</span><a href="https://www.dcrainmaker.com/2016/12/dji-mavic-pro-in-depth-review.html#comments" class="last">Comments (70)</a>					</div><!-- .entry-meta -->

					<div class="entry-content">
						<p>
                            <a class="colorbox fv_player_pro_boxElement"
                               href="https://media.dcrainmaker.com/images/2016/12/DJI-Mavc-Pro-Detaild-Review.jpg">
                                <img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline;
                                padding-right: 0px; border: 0px;" title="DJI-Mavc-Pro-Detailed-Review"
                                     src="https://media.dcrainmaker.com/images/2016/12/DJI-Mavc-Pro-Detaild-Review_thumb.jpg"
                                     alt="DJI-Mavc-Pro-Detailed-Review" width="720" height="480" border="0">
                        </a>
                        </p>

                   {% endblock %}
                        {% block content %}
                                    <p>{{ article.content}}</p>
                         {% endblock %}<!-- ENDBLOCK content-->

                      </div><!--entry-content-->

        </div><!-- #content -->
     </div> <!--container-->
     {% block comment %}
     {% endblock %}
  {% endblock %}