{% load  staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- SITE TITTLE -->
    <title>FitHeart</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FITHEART Store - Ecommerce Bootstrap Template</title>

    <!-- PLUGINS CSS STYLE -->
    <!-- GOOGLE FONT -->
    <link href="./css" rel="stylesheet" type="text/css">

    <!-- CUSTOM CSS -->
    <link type="text/css" media="all"
          href="{% static 'fitheart/css/autoptimize_531c1905e146ddec2c810565b901f830.css' %}"
          rel="stylesheet">

    <!--- ANGULAR JS ---->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="{% static 'fitheart/js/fitheart.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--[if lt IE 9]>
    <![endif]-->

    <link rel="stylesheet" id="aptf-pro-fontawesome-css"
          href="{% static 'fitheart/css/font-awesome.min.css' %}" type="text/css" media="all">

    <link href="text/css" rel="stylesheet" type="text/css">

    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-image: url('https://media.dcrainmaker.com/images/2012/11/bg-1.jpg');
            background-repeat: repeat;
            background-position: top left;
            background-attachment: scroll;
        }
    </style>

    <!-- Include Editor style. -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.0/css/froala_editor.min.css'
          rel='stylesheet' type='text/css'/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.0/css/froala_style.min.css'
          rel='stylesheet' type='text/css'/>


</head>

<body class="home page page-id-2817 page-template-default custom-background spp">

<div ng-app="fitheart" ng-controller="FitHeartController">
    {% verbatim %}
    <h2>Welcomex {{helloTo.title}} to the world of Tutorialspoint!</h2>
    {% endverbatim %}

    <div>

        First name: <br>
        {% csrf_token %}
        <input type="text" ng-model="firstname" placeholder="{{ firstname }}"><br>
        {% verbatim %}
        Last name: <br>
        {% endverbatim %}
        <input type="text" ng-model="lastname"><br>
        <p>Today's welcome message is:</p>
        <button type="button" class="btn btn-primary" id="btn-save"
                ng-click="save(modalstate, id)">Save Changes
        </button>

    </div>

</div>


{#<script>#}
{#    angular.module("fitheart", [])#}
{#            .controller("FitHeartController", function ($scope) {#}
{#                $scope.helloTo = {};#}
{#                $scope.helloTo.title = "AngularJS";#}
{#                $scope.firstname = "Phung";#}
{#                $scope.lastname = "Tuan";#}
{#            });#}
{#</script>#}

<div id="wrapper" class="">
    {% include 'fitheart/header.html' %}
    {% block body_content %}
    {% endblock %}
    {% include 'fitheart/sidebar.html' %}
</div><!--- wrapper-->


</body>
{% include 'fitheart/footer.html' %}

<!--
<div id="fv_player_pro_colorbox" class="" role="dialog" tabindex="-1"
     style="display: block; visibility: visible; top: 169px; left: 447px;
     position: absolute; width: 455px; height: 261px;">
    <div id="fv_player_pro_boxWrapper" style="height: 261px; width: 455px;"><div>
        <div id="fv_player_pro_boxTopLeft" style="float: left;"></div>
    <div id="fv_player_pro_boxTopCenter" style="float: left; width: 435px;"></div>
        <div id="fv_player_pro_boxTopRight" style="float: left;"></div></div><div style="clear: left;">
        <div id="fv_player_pro_boxMiddleLeft" style="float: left; height: 213px;"></div>
        <div id="fv_player_pro_boxContent" style="float: left; width: 435px; height: 213px;">
    <div id="fv_player_pro_boxLoadedContent" style="width: 435px; overflow: hidden; height: 208px;">
    <form id="welcome-members" name="loginform" action="https://www.dcrainmaker.com/wp-login.php" method="post">
    <img src="https://media.dcrainmaker.com/images/2012/11/logo.png" alt="DCRainMaker" class="aligncenter">
      <p><input type="text" name="log" id="user_login" class="input" value="" size="20" tabindex="10" placeholder="Username"></p>
      <p><input type="password" name="pwd" id="user_pass" class="input" value="" size="20" tabindex="20" placeholder="Password"></p>
      <div class="check-wrap">
      <label><input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="90">Remember me</label>
      </div>
      <input type="submit" name="wp-submit" id="wp-submit" value="Login!">
      <input type="hidden" name="redirect_to" value="https://www.dcrainmaker.com">
      <input type="submit" name="testcookie" value="1" style="position: absolute; left: -9999px; width: 1px; height: 1px;"> <a href="https://www.dcrainmaker.com/wp-login.php?action=lostpassword" class="lost-password">Lost your password?</a>

  </form></div>
    <div id="fv_player_pro_boxTitle" style="float: left; display: block;"></div>
    <div id="fv_player_pro_boxCurrent" style="float: left; display: none;"></div>
    <button type="button" id="fv_player_pro_boxPrevious" style="display: none;">
    </button>
    <button type="button" id="fv_player_pro_boxNext" style="display: none;"></button>
    <button id="fv_player_pro_boxSlideshow" style="display: none;"></button>
    <div id="fv_player_pro_boxLoadingOverlay" style="float: left; display: none;"></div>
    <div id="fv_player_pro_boxLoadingGraphic" style="float: left; display: none;"></div>
    <button type="button" id="fv_player_pro_boxClose">close</button></div>
    <div id="fv_player_pro_boxMiddleRight" style="float: left; height: 213px;"></div>
    </div><div style="clear: left;"><div id="fv_player_pro_boxBottomLeft" style="float: left;"></div>
    <div id="fv_player_pro_boxBottomCenter" style="float: left; width: 435px;"></div>
    <div id="fv_player_pro_boxBottomRight" style="float: left;"></div>
    </div></div><div style="position: absolute; width: 9999px; visibility: hidden; max-width: none; display: none;"></div>
</div>

--->
</html>

