<div id="footer" role="contentinfo">
		<div id="colophon">

				<div id="footer-ad" class="widget-area">
					<ul class="xoxo">
						<li id="text-9" class="widget-1 widget-first widget-last widget-odd widget-container widget_text">			<div class="textwidget"><script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DCRainmaker-Bottom-Banner -->
<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7569223330019415" data-ad-slot="4546767877"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
		</li>					</ul>
				</div><!-- #footer-ad .widget-area -->

			<div id="site-info">
                    All rights reserved © <a href="https://www.dcrainmaker.com/" title="DC Rainmaker" rel="home">2017 DC Rainmaker</a><br>
Designed by: <a class="orangelink" href="http://www.heathersanders.com">Heather Sanders</a>
				
			</div><!-- #site-info -->

			<div id="site-generator">
				
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div>