{% load  staticfiles %}
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner">
								<div id="site-title">
					<span>
						<a href="https://www.dcrainmaker.com/" title="DC Rainmaker" rel="home">
                        						<img src="https://media.dcrainmaker.com/images/2012/11/logo.png" width="435" height="69" alt="">

                        </a>
					</span>
				</div>
				<div id="site-description">



					<div class="menu-topmenu-container"><ul id="menu-topmenu" class="menu"><li id="menu-item-52163" class="fv_dcrm_login_class_donotremove menu-item menu-item-type-custom menu-item-object-custom menu-item-52163"><a href="#welcome-members" class="colorbox fv_player_pro_boxElement">Login</a></li>
<li id="menu-item-2778" class="menu-item  menu-item-type-post_type menu-item-object-page menu-item-2778"><a href="https://www.dcrainmaker.com/about-me">About Me</a></li>
<li id="menu-item-2777" class="menu-item  menu-item-type-post_type menu-item-object-page menu-item-2777"><a href="https://www.dcrainmaker.com/press-clippings">Press</a></li>
<li id="menu-item-2776" class="menu-item  menu-item-type-post_type menu-item-object-page menu-item-2776"><a href="https://www.dcrainmaker.com/contact">Contact</a></li>
<li id="menu-item-2775" class="last menu-item menu-item-type-post_type menu-item-object-page menu-item-2775"><a href="https://www.dcrainmaker.com/advertise">Advertise</a></li>
</ul></div>

<!--menu from cache /cache/dcrm-cache-menu-top-0-logged-out.tmp ! -->


          <form role="search" method="get" id="searchform" action="https://www.dcrainmaker.com/">
    <div><label class="screen-reader-text" for="s">Search for:</label>
        <input type="text" value="Enter Keyword Search" onclick="if(this.value=='Enter Keyword Search') this.value = ''; " onblur="if(this.value=='') this.value = 'Enter Keyword Search'; " name="s" id="s">
        <input type="submit" id="searchsubmit" value="Search">
    </div>
</form>
	      </div><!-- #site-description -->


			</div><!-- #branding -->

			<div id="access" role="navigation">
			  				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>



				<div class="menu-header"><ul id="menu-main-menu" class="menu"><li id="menu-item-2789" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-2789"><a href="https://www.dcrainmaker.com">Home</a></li>
<li id="menu-item-2816" class="menu-item  menu-item-type-post_type menu-item-object-page current_page_parent menu-item-2816"><a href="https://www.dcrainmaker.com/blog">Blog</a></li>
<li id="menu-item-3009" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-3009"><a href="https://www.dcrainmaker.com/product-reviews">Product Reviews</a>
<ul class="sub-menu">
	<li id="menu-item-45596" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-45596"><a href="https://www.dcrainmaker.com/product-reviews/action-cams">Action Cams</a></li>
	<li id="menu-item-26636" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26636"><a href="https://www.dcrainmaker.com/product-reviews/activity-monitors">Activity Trackers</a></li>
	<li id="menu-item-2963" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2963"><a href="https://www.dcrainmaker.com/product-reviews/cycleops">CycleOps/PowerTap</a></li>
	<li id="menu-item-66724" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-66724"><a href="https://www.dcrainmaker.com/product-reviews/drones">Drones</a></li>
	<li id="menu-item-41712" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41712"><a href="https://www.dcrainmaker.com/product-reviews/fitbit-product-reviews">Fitbit</a></li>
	<li id="menu-item-2881" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2881"><a href="https://www.dcrainmaker.com/product-reviews/garmin">Garmin</a></li>
	<li id="menu-item-41713" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41713"><a href="https://www.dcrainmaker.com/product-reviews/gopro">GoPro</a></li>
	<li id="menu-item-2882" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2882"><a href="https://www.dcrainmaker.com/product-reviews/polar">Polar</a></li>
	<li id="menu-item-9194" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9194"><a href="https://www.dcrainmaker.com/product-reviews/power-meters">Power Meters</a></li>
	<li id="menu-item-3002" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3002"><a href="https://www.dcrainmaker.com/product-reviews/suunto">Suunto</a></li>
	<li id="menu-item-8678" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8678"><a href="https://www.dcrainmaker.com/product-reviews/tacx">Tacx</a></li>
	<li id="menu-item-55923" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-55923"><a href="https://www.dcrainmaker.com/product-reviews/trainers">Trainers</a></li>
	<li id="menu-item-15891" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15891"><a href="https://www.dcrainmaker.com/product-reviews/tom-tom">TomTom</a></li>
	<li id="menu-item-3004" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3004"><a href="https://www.dcrainmaker.com/product-reviews/wahoo-fitness">Wahoo Fitness</a></li>
	<li id="menu-item-56731" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-56731"><a href="https://www.dcrainmaker.com/product-reviews/weight-scales">Weight Scales</a></li>
	<li id="menu-item-20876" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20876"><a href="https://www.dcrainmaker.com/product-reviews">Everything Else…</a></li>
</ul>
</li>
<li id="menu-item-55921" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-55921"><a href="https://www.dcrainmaker.com/2016/11/winter-sports-recommendations.html">2016 Buyers Guides</a>
<ul class="sub-menu">
	<li id="menu-item-66723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66723"><a href="https://www.dcrainmaker.com/2016/10/annual-winter-2016-2017-bike-smart-trainer-recommendations.html">2016-2017 Bike Trainers Guide</a></li>
	<li id="menu-item-68102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68102"><a href="https://www.dcrainmaker.com/2016/11/trainer-apps-guide.html">2016-2017 Bike Trainer App Guide</a></li>
	<li id="menu-item-66722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66722"><a href="https://www.dcrainmaker.com/2016/09/power-meters-buyers-guide2016-edition.html">2016-2017 Power Meter Guide</a></li>
	<li id="menu-item-66726" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66726"><a href="https://www.dcrainmaker.com/2015/05/2015-swimbikerun-gear-list.html">DCR Sports Gear I Use List</a></li>
	<li id="menu-item-66727" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66727"><a href="https://www.dcrainmaker.com/2015/05/girls-swimbikerun-gear-list.html">The Girl’s Sports Gear I Use List</a></li>
	<li id="menu-item-67986" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67986"><a href="https://www.dcrainmaker.com/2016/11/photography-cameras-equipment.html">Photography Gear I Use</a></li>
	<li id="menu-item-68786" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68786"><a href="https://www.dcrainmaker.com/child-gear">Baby/Child Gear We Use</a></li>
</ul>
</li>
<li id="menu-item-2793" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2793"><a href="https://www.dcrainmaker.com/how-to">How-To &amp; Tips</a></li>
<li id="menu-item-2792" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2792"><a href="https://www.dcrainmaker.com/race-report">Race Report</a></li>
<li id="menu-item-2790" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2790"><a href="https://www.dcrainmaker.com/travel">Travel</a></li>
<li id="menu-item-2795" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2795"><a href="https://www.dcrainmaker.com/paris">Paris Blog</a></li>
<li id="menu-item-2843" class="last menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2843"><a href="https://www.dcrainmaker.com/queue">Queue</a></li>
</ul></div>

<!--menu from cache /cache/dcrm-cache-menu-header-0.tmp ! -->


			</div><!-- #access -->

						</div><!-- #masthead -->
	</div><!-- #header -->