{%extends 'fitheart/base.html' %}
{% load  staticfiles %}

 {% block body_content %}
      <div id="container">
        <div id="content" role="main">
        <div class="site-section">


          <div class="section-title bor-bot">
    				<h1 class="page-title padding10">Drones</h1>
    				<div class="cat-crumbs"><a href="https://www.dcrainmaker.com/product-reviews">Product Reviews</a> » <a href="https://www.dcrainmaker.com/product-reviews/drones">Drones</a></div>  				</div><!-- .section-title -->

    			<img class="cat-image padding10" src="https://media.dcrainmaker.com/images/2016/09/DSC_0894-720x480.jpg">

  <div class="section-wrap padding10">
		<div id="post-68215" class="post-68215 post type-post status-publish format-standard has-post-thumbnail category-action-cams category-drones tag-dji tag-dji-mavic tag-dji-phantom-4 tag-drones">
		                  <div class="section-image">
          <a href=url 'product-review-detail' 123 ><img width="200" height="132" src="https://media.dcrainmaker.com/images/2016/12/DJI-Mavic-Pro-Basics_thumb-200x132.jpg" class="attachment-archive_crop wp-post-image" alt="DJI-Mavic-Pro-Basics_thumb.jpg"></a>
        </div>

  			<div class="section-excerpt">
          <h2 class="entry-title">
              <a href={% url 'product-review-detail' 123 %} title="Permalink to DJI Mavic Pro In-Depth Review" rel="bookmark">DJI Mavic Pro In-Depth Review
              </a>
          </h2>
  				<p>While the widely held assumption this year was that the GoPro Karma drone would be the hottest drone to get one's hands on, it’s quickly become clear over the last 75 days that wouldn’t quite pan out.&nbsp; A mere 7 …  <a class="read_more" href="https://www.dcrainmaker.com/2016/12/dji-mavic-pro-in-depth-review.html">Read More Here <span class="meta-nav">→</span></a></p>
  			</div><!-- .section-excerpt -->
						<div class="clear"></div>
		</div><!-- #post-## -->

		  </div><!-- .section-wrap -->
  <div class="section-wrap padding10">
		<div id="post-67098" class="post-67098 post type-post status-publish format-standard category-drones category-gopro tag-drones tag-gopro-gimbal tag-gopro-hero4 tag-gopro-hero5 tag-gopro-karma">
		                  <div class="section-image">
          <a href="https://www.dcrainmaker.com/2016/11/gopro-karma-drone-review.html"><img class="attachment-thumbnail wp-post-image fv-ut-archive_crop" src="https://media.dcrainmaker.com/images/2016/11/200x132/GoPro-Karma-Flying-Hero-Review.jpg" width="200" height="132">
</a>
        </div>

  			<div class="section-excerpt">
          <h2 class="entry-title">
              <a href="https://www.dcrainmaker.com/2016/11/gopro-karma-drone-review.html" title="Permalink to GoPro Karma In-Depth Review" rel="bookmark">GoPro Karma In-Depth Review</a></h2>
  				<p>(Preemptive Note:&nbsp; GoPro just recalled the Karma drone, due to them falling out of the sky upon power loss.&nbsp; It appears the issue is a battery connector that can come lose mid-flight, causing the loss of power.&nbsp; Luckily, that didn’t …  <a class="read_more" href="https://www.dcrainmaker.com/2016/11/gopro-karma-drone-review.html">Read More Here <span class="meta-nav">→</span></a></p>
  			</div><!-- .section-excerpt -->
						<div class="clear"></div>
		</div><!-- #post-## -->

		  </div><!-- .section-wrap -->
  <div class="section-wrap padding10">
		<div id="post-65068" class="post-65068 post type-post status-publish format-standard has-post-thumbnail category-action-cams category-blogposts category-drones category-gopro tag-action-cams tag-drones tag-gimbal tag-gopro tag-gopro-hero5 tag-gopro-hero5-black tag-gopro-hero5-session tag-gopro-karma">
		                  <div class="section-image">
          <a href="https://www.dcrainmaker.com/2016/09/gopro-hero5-karma-drone.html"><img width="200" height="132" src="https://media.dcrainmaker.com/images/2016/09/DSC_0894-200x132.jpg" class="attachment-archive_crop wp-post-image" alt="dsc_0894"></a>
        </div>

  			<div class="section-excerpt">
          <h2 class="entry-title"><a href="https://www.dcrainmaker.com/2016/09/gopro-hero5-karma-drone.html" title="Permalink to Everything you need to know: GoPro’s New Hero5 Cameras &amp; Karma Drone" rel="bookmark">Everything you need to know: GoPro’s New Hero5 Cameras &amp; Karma Drone</a></h2>
  				<p>Update: Go see my full GoPro Hero5 Black In-Depth Review here! Today GoPro announced three new action cameras, a drone, and a rather interesting flotilla of accessories.&nbsp; These include a handheld gimbal, external microphone/remote combos, and even a nifty $19 …  <a class="read_more" href="https://www.dcrainmaker.com/2016/09/gopro-hero5-karma-drone.html">Read More Here <span class="meta-nav">→</span></a></p>
  			</div><!-- .section-excerpt -->
						<div class="clear"></div>
		</div><!-- #post-## -->

		  </div><!-- .section-wrap -->
  <div class="section-wrap padding10">
		<div id="post-59437" class="post-59437 post type-post status-publish format-standard category-blogposts category-drones tag-action-cams tag-airdog tag-drones">
		                  <div class="section-image">
          <a href="https://www.dcrainmaker.com/2016/04/airdog-action-sports-drone-in-depth-review.html"><img class="attachment-thumbnail wp-post-image fv-ut-archive_crop" src="https://media.dcrainmaker.com/images/2016/04/200x132/DJI_0763.jpg" width="200" height="132">
</a>
        </div>

  			<div class="section-excerpt">
          <h2 class="entry-title"><a href="https://www.dcrainmaker.com/2016/04/airdog-action-sports-drone-in-depth-review.html" title="Permalink to AirDog Action Sports Drone In-Depth Review" rel="bookmark">AirDog Action Sports Drone In-Depth Review</a></h2>
  				<p>Like most Kickstarter projects, it’s been a much longer road than anticipated to get their product off the ground.&nbsp; But unlike most Kickstarter projects, AirDog literally needed to get off the ground and into the air to be successful.&nbsp; It …  <a class="read_more" href="https://www.dcrainmaker.com/2016/04/airdog-action-sports-drone-in-depth-review.html">Read More Here <span class="meta-nav">→</span></a></p>
  			</div><!-- .section-excerpt -->
						<div class="clear"></div>
		</div><!-- #post-## -->

		  </div><!-- .section-wrap -->
  <div class="section-wrap padding10">
		<div id="post-42358" class="post-42358 post type-post status-publish format-standard category-action-cams category-blogposts category-drones tag-action-cams tag-drones tag-gopro">
		                  <div class="section-image">
          <a href="https://www.dcrainmaker.com/2015/02/drone-sports-usage.html"><img class="attachment-thumbnail wp-post-image fv-ut-archive_crop" src="https://media.dcrainmaker.com/images/2015/02/200x132/IMG_4453.jpg" width="200" height="132">
</a>
        </div>

  			<div class="section-excerpt">
          <h2 class="entry-title"><a href="https://www.dcrainmaker.com/2015/02/drone-sports-usage.html" title="Permalink to Sports, Drones, and Follow-Me Aerial Action Imagery: A State of the Industry" rel="bookmark">Sports, Drones, and Follow-Me Aerial Action Imagery: A State of the Industry</a></h2>
  				<p>There’s been a ton of interest as of late in using drones within sports.&nbsp; This interest comes from many different angles.&nbsp; First is the more traditional approach of simply using the unmanned aerial vehicle as a platform for videography and …  <a class="read_more" href="https://www.dcrainmaker.com/2015/02/drone-sports-usage.html">Read More Here <span class="meta-nav">→</span></a></p>
  			</div><!-- .section-excerpt -->
						<div class="clear"></div>
		</div><!-- #post-## -->

		  </div><!-- .section-wrap -->
<div class="clear"></div>



        </div><!-- .site-section -->
			</div>
      </div>

  {% endblock %}