<div id="primary" class="widget-area" role="complementary">
    <ul class="xoxo">
        <li id="text-2" class="widget-1 widget-first widget-odd widget-container widget_text">
            <div class="textwidget">
                <div class="social-icons">
                <a class="twitter-icon" href="http://twitter.com/dcrainmakerblog"><span>Twitter</span></a>
                <a class="facebook-icon" href="http://www.facebook.com/dcrainmaker"><span>Facebook</span></a>
                <a class="google-icon" rel="me" href="https://plus.google.com/114721129457730030996"><span>Google+</span></a>
                <a class="youtube-icon" href="http://www.youtube.com/dcrainmakerblog"><span>YouTube</span></a>
                <a class="instagram-icon" href="http://instagram.com/dcrainmaker"><span>Instagram</span></a>
                <a class="rss-icon last" href="/feed/"><span>RSS</span></a><div class="clear"></div>
              </div>
            </div>
		</li>
                <li id="widget_sp_image-4" class="widget-7 widget-odd widget-container widget_sp_image">
                    <a href="http://www.dcrainmaker.com/product-comparison-calculator" id="" target="_self"
                       class="widget_sp_image-image-link" title="Product Comparison Calculator" rel="">
                        <img width="300" height="200" alt="Product Comparison Calculator" class="attachment-300x200" style="max-width: 100%;" src="https://media.dcrainmaker.com/images/2012/11/product-comparison-calculator-button.jpg">
                    </a>
                </li>
        <li id="widget_fv_facebook_liebox-2" class="widget-8 widget-even widget-container widget_prettysocial_likebox">
                <div class="fv_likebox">
                    <div class="fv_fblikebox" style="width: 298px;">

                    <!-- FACEBOOK --->
                        <div class="fv_fblikebox_logo">
                        <a href="{% url 'index' %}">
                            <img src="https://media.dcrainmaker.com/images/fv-likebox-cache/logo.jpg" alt="DC Rainmaker - logo"></a>
                        <a href="https://www.facebook.com/dcrainmaker/">FITHEART</a>
                            <a class="fvfacebookwindow like fv_fblikebox_button cboxElement"
                               href="http://www.facebook.com/plugins/likebox.php?id=dcrainmaker&amp;width=292&amp;connections=0&amp;stream=false&amp;header=false&amp;height=62"><span>Like</span></a></div>
                        <div class="fv_fblikebox_text">68,080 people like DC Rainmaker</div>
                        <div class="fv_fblikebox_items"><div class="grid_item _43q7 pluginFacepileItem">
                            <span title="Mark Mcelmurray" class="link" data-jsid="anchor">
                                <img class="_s0 _54ru img" src="https://media.dcrainmaker.com/images/fv-likebox-cache/mark-mcelmurray.jpg" alt="Mark Mcelmurray" data-jsid="img"></span></div>
                            <div class="grid_item _43q7 pluginFacepileItem"><span title="Frud Kuhn" class="link" data-jsid="anchor">
                                <img class="_s0 _54ru img" src="https://media.dcrainmaker.com/images/fv-likebox-cache/frud-kuhn.jpg" alt="Frud Kuhn" data-jsid="img"></span></div>
                        </div>
                    </div>
                </div>
        </li>
    <li id="enhancedtextwidget-5" class="ad widget-13 widget-odd widget-container widget_text enhanced-text-widget">
        <div class="textwidget widget-text"><!-- BuySellAds Zone Code -->
    </div>
		</li>

    </ul>
</div>